#about{
    position: relative;
    padding-top: 100px;
}
#about h3{
    text-align: center;
    font-size: 50px;
  font-family: "Bitcount Grid Double";
}
.about-education{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
}
.about-educationdetails{
    background-color: #ffe1ad;
    text-align:center;
    border-radius: 10px;
    box-shadow: -8px 8px brown;
    height: 150px;
    width: 350px;
}