#about{
    position: relative;
    padding-top: 200px;
    margin-top: 100px;
}
#about h3{
    text-align: center;
    font-size: 50px;
  font-family: "Bitcount Grid Double";
}
.about-education{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-top: 20px;    
}
.about-educationdetails{
    background-color: #523402;
    text-align:center;
    border-radius: 10px;
    box-shadow: -8px 8px black;
    height: 150px;
    width: 400px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.about-educationdetails p{
    top: 0%;
}
.about-description{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    text-align: justify;
    
}

