html{
   font-family: "Bitcount Grid Double";
}
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    height: 150px;
    border-radius: 30px;
    
}

nav {
    padding-top: 25px;
    z-index: 1;
    position: relative;
    font-family: "Bitcount Grid Double";
    background-color: #333;
    
     /* Background color for the nav */
}

nav ul {
    list-style: none; /* Remove default list styling */
    padding: 0;      /* Remove padding */
    margin: 0;       /* Remove margin */
    display: flex;    /* Use flexbox to arrange items in a row */
    justify-content: center; /* Center the items horizontally */
}

nav ul li {
    margin: 0 15px; /* Add horizontal space between items */
}

nav ul li a {
    color: #fff;            /* Link color */
    text-decoration: none; 
    display: inline-block; 
    padding: 10px 15px;    /* Add padding for better click area */
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,transform 0.3s ease-in-out; /* Transition for hover effect */
    
}
nav ul li a:hover {
    background: #333; /* Change background color on hover */
    color:#ffebcd;      /* Change text color on hover */
    transform: scale(1.05);

}
/* styles.css */
/*body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding-right: 50px;
}*/
.headerbackground{
    background-color: #8f5c06;
    position:relative;
    height: 100px;
    width: 100%;
    top: -70px;
    z-index:-1;
    border-radius: 25px;
    
}

.Resumelink a {
    color: white;
    background-color: #8f5c06; /* Optional for button-like style */
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family:Arial, Helvetica, sans-serif;
    left: 500px;
    
  
}

.Resumelink a:hover {
    background-color: #a66d08;
}
.text-slider {
  height: 50px;
  overflow: hidden;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#role-text {
  display: inline-block;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}
