/* =========================
   THREE D SECTION
========================= */
.ThreeD {
  width: 100%;
  max-width: 1200px;   /* match projects width */
  margin: 0 auto;      /* centers section */
  padding: 40px 20px;

   --img-card-w: 380px;
  --img-card-h: 260px;
  --img-gap: 55px;
}

/* GRID */
.ThreeDImages {
   display: grid;
  grid-template-columns: repeat(auto-fit, var(--img-card-w));
  gap: var(--img-gap);
  justify-content: center;
  justify-items: center;
}

/* IMAGE CARD (same size for all) */
.ThreeDImages img {
    width: var(--img-card-w);
  height: var(--img-card-h);
  padding: 12px;
  object-fit: contain;
  background-color: #dbbc88;
  box-shadow: 5px 5px 5px #523402;

  display: block;
}
.ThreeD h1{
    font-size: 50px;
  font-family: "Bitcount Grid Double";
}



/* =========================
   THREE D VIDEOS (LIKE PROJECTS)
========================= */
.ThreeDAnimations {
   display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 25px;
  justify-content: center;
}

.ThreeDVideos {
  position: relative;
  width: 400px;
  height: 400px;
  /* background-color: #dbbc88;
  box-shadow: 15px -15px #523402; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ThreeDVideos video {
  width: 500;
  height: 250px;
  border-radius: 20px;
  background-color: rgb(58, 55, 55);
}

/* =========================
   MOBILE VIEW (<=768px)
========================= */
@media only screen and (max-width: 768px) {

  /* Images */
  .ThreeDImages {
    --img-card-w: 100px;
    --img-card-h: 100px;
    --img-gap: 10px;
   grid-template-columns: repeat(3, 100px);
    gap: 10px;

    justify-content: center; /* ✅ center on mobile too */
  }

  .ThreeDImages img {
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 1px 1px #523402;
  }

  /* Videos */
  .ThreeDAnimations {
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
  }

  .ThreeDVideos {
    width: 170px;
    height: auto;
   
  }

  .ThreeDVideos video {
    width: 125px;
    height: 100px;
    border-radius: 10px;
  }
  .ThreeD h1{
    font-size: 45px;
  font-family: "Bitcount Grid Double";
  }
}


@media (min-width: 1400px) {
  .ThreeD {
    --img-card-w: 460px;
    --img-card-h: 320px;
    --img-gap: 70px;
  }
}
