#projects {
  margin: 50px;
  text-align: center;
  bottom: 20px;
  
}

video {
  margin-top: 10px;
  width: 380px;
  height: 250px;
  border: 50px;
  border-radius: 20px;
  background-color: rgb(58, 55, 55);
}

.video-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 25px;
  border-radius: 20px;
  height: 500px;
  width: 400px;
  background-color:#dbbc88;
  box-shadow: 15px -15px  #523402;
  box-sizing: border-box;
}

.run {
 
  display: grid;
  grid-template-columns: repeat(3,1fr);
  flex-wrap:wrap;
  align-content: space-evenly;
  justify-content: space-between;
    justify-items: center;
  gap:50px;
  
}

.custom-play-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(177, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}
.custom-play-btn:hover{
  transform:  translate(-50%,-50%) scale(1.05);
}

#projects h3{
  font-size: 50px;
  font-family: "Bitcount Grid Double";
}


.carracetext{
  text-align: justify;
  font-weight: bold;
}
.overlay-text{
  top: -5%;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  font-size: 100%;
}

#experience-container {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 25px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: justify;
  margin-top: 10%;
}

#experience-container h1 {
  margin-bottom: 20px;
}

.internships {
  font-size: 20px;
  font-weight: normal;
}


@media only screen and (max-width: 768px){

#projects {
  
justify-items: center;
  
  
}
.run {
 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: space-between;
 
  gap:20px;
  
}

video {
  margin-top: 10px;
  width: 125px;
  height: 100px;
  border: 5px;
  
  
}

.video-wrapper {
  position: relative;
  display: inline-block;
  
  border: 25px;
  border-radius: 20px;
  height: auto;
  width: 170px;
  background-color:#dbbc88;
  box-shadow: 5px -5px  #523402;
  box-sizing: border-box;
}



.custom-play-btn {
 
   position: absolute;
   top: 25%; 
   align-items: center;
   height: fit-content;
    
    
     background-color: rgba(177, 0, 0, 0.6); 
     color: white;  
     
      font-size: 10px; 
     cursor: pointer; 
     border-radius: 5px; 
     transition: transform 0.3s ease-in-out;
}
.custom-play-btn:hover{
  transform:  translate(-50%,-50%) scale(1.05);
}

#projects h3{
  font-size: 50px;
  font-family: "Bitcount Grid Double";
}


.carracetext{
  text-align: justify;
  font-weight: normal;
  margin-top: 5px;
  font-size: 12px;
}
.overlay-text{
  
 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 12px;
}

#experience-container {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 15px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: justify;
  margin-top: 10%;
}

#experience-container h1 {
  margin-bottom: 20px;
}

.internships {
  font-size: 20px;
  font-weight: normal;
}

  
}